<link rel="stylesheet" href="css/forgot.css" />


  <div class="card card-block login-card" style="position:relative;">
    <div class="loader" ng-if="loading">
      <div class="sk-folding-cube">
        <div class="sk-cube1 sk-cube"></div>
        <div class="sk-cube2 sk-cube"></div>
        <div class="sk-cube4 sk-cube"></div>
        <div class="sk-cube3 sk-cube"></div>
      </div>
    </div>

    <h1 class="forgot-title">Recover password</h1>
    <span ng-if="error" style="color: #F00">This token appears to be invalid or expired</span>
    <form role="form"  name="recoverform" ng-submit="recoverform.$valid && changePassword()" novalidate ng-if="allowChange" ng-cloak>
      <div class="form-group" ng-class="{ 'has-error' : signupForm.password.$invalid && !signupForm.password.$pristine }">
        <label for="password">New Password</label>
        <input type="password" class="form-control" id="password" ng-model="user.password" equals="{{ user.passwordCheck }}" ng-minlength= "6" placeholder="Password" name="password" required>
        <div ng-show="signupForm.password.$touched">
          <span ng-show="signupForm.password.$error.required" style="color: red;">Confirm Password</span>
          <span ng-show="signupForm.password.$error.minlength" style="color: red;">Must be 6 characters long</span>
        </div>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : signupForm.password2.$invalid && !signupForm.password2.$pristine }">
        <label for="password-2">New Password Again</label>
        <input type="password" class="form-control" id="password-2" ng-model="user.passwordCheck" equals=" {{ user.password }}" ng-minlength = "6" placeholder="Password Again" name="password2" required>
        <div ng-show="signupForm.password2.$touched">
            <span ng-show="signupForm.password2.$error.required" style="color: red;">Confirm Password</span>
            <span ng-show="signupForm.password2.$error.minlength" style="color: red;">Must be 6 characters long</span>
            <span ng-show="signupForm.password2.$error.equals" style="color: red;">Passwords do not match</span>
        </div>
      </div>
    <div class="login-bottom-container">
      <input type="submit" value="Recover" class="btn btn-green btn-lg btn-block" style="padding: .8em .5em;" />
      <div class="text-center" style="margin-top:1em;">
        <a ui-sref="signupState" class="sign-up">Sign up for an account</a>
      </div>
    </div>
    <span style="color:#F00;text-align:center;" ng-if="passerror">There was a problem. Please reload the page and try again.</span>
  </form>
</div>
